    <div id="header" class="navbar navbar-fixed-top top-navbar">
        <div class="pageContent">
            <img src="/images/header_logo.png">
            <div class="pull-right">
                <button class="btn btn-default headerButton" data-toggle="modal" data-target="#newBucketModal">Create Bucket</button> <br />
                <button class="btn btn-default headerButton">Create Key</button>
            </div>
        </div>
    </div>

    {{render addBucket}}